html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font: 16px/1.5 Helvetica, Arial, sans-serif;
}

header {
  text-align: center;
}

header h1 {
  margin-bottom: 0;
  font-size: 28px;
}

header h2 {
  margin-top: 0;
  font-size: 20px;
}

svg {
  display: block;
  margin: 50px auto;
}

.axis {
  font-size: 14px;
}

.axis path {
  display: none;
}

.axis.y line,
.axis.legend line {
  display: none;
}

.axis.legend {
  font-size: 12px;
}

.cell {
  stroke: #cccccc;
}

#tooltip {
  background-color: #000000;
  border: 1px solid #555555;
  border-radius: 10px;
  color: #ffffff;
  opacity: 0;
  padding: 10px;
  position: absolute;
  width: 220px;
}

#tooltip .date {
  font-size: 20px;
  margin: 0;
}

#tooltip .average {
  font-size: 14px;
  margin-top: 4px;
  margin-bottom: 0;
}

#tooltip .baseline {
  font-size: 10px;
  margin-top: 4px;
  margin-bottom: 0;
}

footer {
  line-height: 1;
  text-align: center;
}

footer #credit {
  font-size: 0.8rem;
}
